// Mixins
@mixin header {
  height: 96vh;

  #main-nav {
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    ul {
      display: flex;
    }

    li {
      padding: 1rem 1.5rem;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 3px solid transparent;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;
    }
  }

  .header-content {
    height: 92vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;


    .header-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;

      h1 {
        font-size: 4rem;
      }
    }

    .header-stats {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 4rem;

      div {
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
      }
    }
  }

}

@mixin banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

@mixin facts {
  .section-title {
    font-size: 2rem;
    display: block;
    padding-top: 2rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
  }

  .section-underline {
    height: 2px;
    width: 5rem;
    background: $solar;
    display: block;
    margin: 0 auto 2rem auto;
  }

  .facts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    margin-bottom: 2rem;

    .fact {
      padding: 3rem;

      .fact-number {
        display: inline-block;
        border-radius: 50%;
        width: 40px;
        height: 40px;

        .number {
          font-size: 1.5rem;
        }
      }


      .fact-title {
        font-size: 1.5rem;
        padding-bottom: .7rem;
      }

      .fact-text {
        font-size: 1.2rem;
      }
    }
  }
}