@import 'utilities';
@import 'mixins';

// Solar Page
#header-home {
  @include header;
  background: url('../img/bg-image.jpg') no-repeat center center/cover;
  color: $solar;

  #main-nav a:hover {
    border-bottom-color: $solar;
  }

  #main-nav .current {
    border-bottom-color: $solar;
  }
}

.home-banner {
  @include banner;
  background: $solar;
  color: #fff;
}

#facts-a {
  @include facts;

  .fact-number {
    background-color: $solar;
  }
}

// Mercury Page
#header-mercury {
  @include header;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/planet1.jpg') no-repeat center center/cover;
  color: $mercury;

  #main-nav a:hover {
    border-bottom-color: $mercury;
  }

  #main-nav .current {
    border-bottom-color: $mercury;
  }
}

.mercury-banner {
  @include banner;
  background: $mercury;
  color: #fff;
}

#facts-b {
  @include facts;

  .fact-number {
    background-color: $mercury;
  }
}